<template name="inputTemplate">
<div class="row">
    <div class="btn-group">
        <button id="Json" type="button" class="btn btn-success">JSON</button>
        <button id="Xml" type="button" class="btn btn-danger">XML</button>
        <button id="Search" type="button" class="btn btn-warning">Search Resort ID</button>
        <div class="input-group">
            <input id="resortID" type="text" class="form-control" name="resortID" placeholder="Enter Resort ID">
        </div>
    </div>
</div>
</template>